.Dropdown:hover .list{
    display: block;
}

.Dropdown{
    border-left: 1px solid #444;
    border-right: 1px solid #444;

}
.color{
    color: white !important;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.list{
    background-color: black;
}
.navbar{
    background-color: black;
    width: 100%;
}
.Header_logo{
    width: 15%;
}
.Header{
    display: flex;
    justify-content: space-around;
}
@media(max-width: 850px){
    .seacher{
        display: none;
    }
}